body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-cont {
  display: grid;
  grid-template-rows: 16% 16% 16% 16% 16% 16%;
}

.calc-section {
  text-align: right;
  background-color: #858693;
  padding: 25px 10px 0 0;
  color: white;
  border: 1px solid #d1d1d1;
}

.container-row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.third-row-bottom {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.button-orange {
  background-color: #f5903f;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.button-orange:hover {
  background-color: #f88527;
}

.button-orange:active {
  background-color: #fc7b12;
}

.button-grey {
  background-color: #e1e1e0;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  transition: 0.3s;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-grey:hover {
  background-color: #d6d6d6;
}

.button-grey:active {
  background-color: #c9c9c9;
}
